<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.paint">

    <application
        android:allowBackup="true"
        android:icon="@drawable/paintlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/paintlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Confirmation"
            android:theme="@style/AppThemePayment">

        </activity>
        <activity
            android:name=".Payment"
            android:theme="@style/AppThemePayment"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".UserDetails"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Checkout"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Cart"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ScanProduct"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask"/>
        <activity
            android:name=".HummingBird"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask"/>
        <activity
            android:name=".WallArt"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask"/>
        <activity android:name=".FragmentHome"
            android:launchMode="singleTask"/>
        <activity
            android:name=".HomeScreen"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".OtpActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme1"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:launchMode="singleTask" />
        <activity
            android:name=".Login"
            android:launchMode="singleTask" />
        <activity android:name=".MainActivity" >


        </activity>
    </application>

</manifest>